[Unit]
Description=RPi HealthCheck - LED Status
Requires=network-online.target
After=network-online.target

[Service]
Type=simple
WorkingDirectory=/root/Git/RPi-HealthCheck/Python
ExecStartPre=/bin/sleep 15
ExecStart=/usr/bin/python3.7 -u /root/Git/RPi-HealthCheck/Python/RPi-LEDStatus.py
KillSignal=SIGINT

[Install]
WantedBy=network-online.target
